<div class="container justify-content-center col-lg-6">
  <div class="card">
    <div class="card-header">
      User Registration
    </div>
    <div class="card-body mx-4">
      <form [formGroup]="userRegistrationForm" (ngSubmit)="onSubmit()">
        <div class="row gx-4 mb-2">
          <div class="col-6">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname" formControlName="fname">
            <small class="error-block" *ngIf="!fname.valid && fname.touched">First name is required</small>
          </div>
          <div class="col-6">
            <label for="lname" class="form-label">Last Name</label>
            <input type="lname" class="form-control" id="lname" formControlName="lname">
            <small class="error-block" *ngIf="!lname.valid && lname.touched">Last name is required</small>
          </div>
        </div>
        <div class="mb-2">
          <label for="email" class="form-label">Email ID</label>
          <input type="email" class="form-control" id="email" formControlName="email" autocomplete="off">
          <span class="error-block" *ngIf="!email.valid && email.touched">
            <small *ngIf="email.errors.required">Email is required</small>
            <small *ngIf="email.errors.email">Email is Invalid</small>
          </span>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" value="">
          <span *ngIf="!password.valid && password.touched" class="error-block">
            <small *ngIf="password.errors['required']">Password is required</small>
            <small *ngIf="password.errors.minlength || password.errors.maxlength">Password should be between 8-20 characters</small>
          </span>
        </div>
        <div class="mb-3">
          <label for="confirmpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmpassword" value="">
          <span *ngIf="!confirmPassword.valid" class="error-block">
            <small *ngIf="confirmPassword.errors['required'] && confirmPassword.touched">Password is required</small>
            <small *ngIf="confirmPassword.dirty && confirmPassword.errors!['notmatched']" class="error-block">Passwords do not match</small>
          </span>
          <small *ngIf="confirmPassword.valid && password.valid" class="text-success">Passwords match <i class="bi bi-check-lg text-success"></i></small>
        </div>
        <div class="float-end">
          <button type="submit" [disabled]="!userRegistrationForm.valid" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
