<div class="justify-content-center d-flex">
  <div class="card w-50">
    <div class="card-header h3">Add Property</div>
    <div class="card-body">
      <div>
        <tabset>
          <tab heading="Basic title" id="tab1">
            <form class="mt-1 p-3">
              <div class="mb-3">
                <label class="form-label">I want to</label>
                <div class="form-inline d-flex align-items-center">
                  <div class="btn-group" btnRadioGroup [(ngModel)]="radioModelDisabled">
                    <label class="btn btn-success" btnRadio="Left">Left</label>
                    <label class="btn btn-success" btnRadio="Middle">Middle</label>
                    <label class="btn btn-success" btnRadio="Right">Right</label>
                  </div>
                </div>
              </div>
              {{radioModelDisabled}}
            </form>
          </tab>
          <tab heading="Pricing and Area">Pricing and Area</tab>
          <tab heading="Address">Address</tab>
          <tab heading="Other Detail">Other Details</tab>
          <tab heading="Photos">Photos</tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
