<div class="card shadow p-2 rounded " style="width: 20rem;">
  <div class="card-wrapper">
    <img src="../../../assets/static/default_house.png" class="card-image">
    <div class="d-flex d-flex option-icons">
      <div class="mx-2"><i class="fa-solid fa-pen-to-square fa-lg" data-fa-mask="fa-solid fa-square" routerLink="view-property/{{property.id}}"></i></div>
      <div class="mx-2"><i class="fa-solid fa-address-book fa-lg" data-fa-mask="fa-solid fa-square"></i></div>
    </div>
  </div>
  <div class="card-body">
    <h4  class="card-title text-primary">{{property.name}}</h4>
    <small class="card-text">in {{property.address}}</small><br>
    <strong>
      <small class="card-text">{{furnishingType}}</small>
      <small *ngIf="isReadytoMove"> | Ready to Move</small>
    </strong>
    <hr class="my-1">
    <span class="fw-bold">
      <small>Price: </small>
      <small class="text-danger fst-italic">$ {{property.price}}</small> |
      <small>Area: </small>
      <small class="text-danger fst-italic">{{property.area}} sqft.</small>
    </span>

  </div>
</div>


