<div class="card shadow rounded " style="width: 20rem;">
  <div class="card-header h3" *ngIf="isPropertyPreview" >Preview</div>
  <div class="card-wrapper">
    <img src="../../../assets/static/default_house.png" class="card-image">
    <div class="d-flex d-flex option-icons" *ngIf="!isPropertyPreview">
      <div class="mx-2"><i class="fa-solid fa-eye fa-lg" data-fa-mask="fa-solid fa-square" routerLink="../view-property/{{property.id}}"></i></div>
      <div class="mx-2"><i class="fa-solid fa-address-book fa-lg" data-fa-mask="fa-solid fa-square"></i></div>
    </div>
  </div>
  <div class="card-body" *ngIf="!isPropertyPreview">
    <h3  class="card-title text-primary">{{property.houseSize}}BHK {{property.propertyType}}</h3>
    <span *ngIf="property.propertyName" id="propertyName">
      <text class="card-text">in {{property.propertyName}}</text>
      <text class="card-text" *ngIf="property.streetAddress">, {{property.streetAddress}}</text>
    </span>
    <br>
    <span>
      <small class="card-text">{{property.furnishingType}} <span *ngIf="property.furnishingType!='Unfurnished'"> Furnished</span></small>
      <small *ngIf="property.isReadyToMove=='Yes'"> | Ready to Move</small>
    </span>
    <hr class="my-1">
    <span >
      <small>Price: </small>
      <small class="text-danger fst-italic">{{property.price | currency:"INR"}}</small> |
      <small>Area: </small>
      <small class="text-danger fst-italic">{{property.builtArea}} sqft.</small>
    </span>
  </div>
  <div class="card-body" *ngIf="isPropertyPreview">
    <h3  class="card-title text-primary">{{property.houseSize}}BHK {{property.propertyType}}</h3>
    <span *ngIf="property.propertyName" id="propertyName">
      <text class="card-text">in {{property.propertyName}}</text>
      <text class="card-text" *ngIf="property.streetAddress">, {{property.streetAddress}}</text>
    </span>
    <br>
    <span>
      <small class="card-text">{{property.furnishingType}} <span *ngIf="property.furnishingType!='Unfurnished'"> Furnished</span></small>
      <small *ngIf="property.isReadyToMove=='Yes'"> | Ready to Move</small>
    </span>
    <hr class="my-1">
    <span >
      <small>Price: </small>
      <small class="text-danger fst-italic">{{property.askPrice | currency:"INR"}}</small> |
      <small>Area: </small>
      <small class="text-danger fst-italic">{{property.totalArea}} sqft.</small>
    </span>
  </div>
</div>


